body {
    background-color: #272727;
  }
#main{
    
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: auto;
    margin-top: 15px;
}
#subMain{
    width:25%;
    height: 300px;
    border:2px solid teal ;
     padding: 13px;
    /* padding-top: 20px; */
    border-radius: 15px;
    margin: auto;
   
}
#image{
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
}
h2{
    text-align: center;
}